# Env
.env*
env

# TypeScript
tsconfig.tsbuildinfo

# Node
node_modules

# Editors
.vscode
.zed

# Claude
.claude

mise.toml

.tanstack
dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
